body
{
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js
{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #262626;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:5px solid #aaaa55;
}
img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.image {
	float: left;
	width: 25%;
	border:5px solid #aaaa55;
}
.text
{
	width: 50%;
	float: right;
	text-align: center:
	border:5px solid #aaaa55;
}
