body
{
	margin: 0;
	padding: 0;
	height: 100vh;
}
#particles-js
{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #262626;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  border-radius: 50%;
  height: 50%;
  width: 55%;
}
.image
{
	flex-basis: 40%;
}
.text
{
	font-size: 20px;
	padding-left: 20px;
}
.header1 {

  font-size: 6vw;
}

.header2 {
  
  font-size: 1.4vw;
}

.header3 {

  font-size: 2.2vw;
}
