<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Aaron Glidden </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{url_for('static', filename='css/style.css')}}"rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap-grid.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap-reboot.css')}}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e2f5aa438d.js" crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</head>
<body id="particle_background">
	<div id="particles-js">
		<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="203" height="967"></canvas>
	</div>
	<div class="bio-div center">
		<a class="link1" href="/" data-toggle="tooltip" data-placement="bottom" title="Resume"><i class="fas fa-arrow-circle-left"></i></a>

		<div class="biography">
			<p style="text-align: center;">
				&emsp;
				If you found this site you've either received my résumé, scanned my chip, or are a stalker... for all the non-stalkers out there...
			<br>
			 	&emsp;
				My name is Aaron Glidden I grew up in the small town of Prattville, Alabama where I attended Prattville
				High School. I chose The Universoty of Alabama after visting my sister here during my spring break my senior year of high school. I have
				always had a passion for figuring out how things works which usually ended up with things being taken apart that usually never got put
				back together. This passion led to my desire to study engineering. I started out as an eletrical engineering major, but quickly shifted
				to computer engineering after becoming more interested in software and how computer hardware actually works.
			<br>
				&emsp;
				During my time here at UA I have taken many challenging classes and become a part of several organizations
				including the Honors College and Bama Climbing Club. When I'm not in class, which admittedly is a lot, I particapte in a bible study with
				guys from Bama Catholic, or I am out exploring different hiking spots and abanoned buildings across Alabama. I also enjoy learning random
				hobbies like slacklining, shooting, disc golf, and solving Rubik's Cubes.
			<br>
				&emsp;
				If you've read this far I really appreciate and I hope you have enjoyed learning a little bit about me.
			</p>
		</div>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/particles.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/app.js')}}"></script>
</body>
</html>
