<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Aaron Glidden- About</title>
	<link rel="shortcut icon" type="image/ico" href="{{url_for('static', filename='imgs/website.ico')}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{url_for('static', filename='css/style.css')}}"rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap-grid.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/bootstrap-reboot.css')}}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/e2f5aa438d.js" crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='scripts/main.js')}}"></script>
	<style type="text/css">
		body{margin:40px
		auto;max-width:650px;line-height:1.6;font-size:18px;background-color: #C2C2C2;color:#35393c;padding:0
		10px}h1,h2,h3{line-height:1.2}
	</style>
<body>
	<a class="link1" href="/" data-toggle="tooltip" data-placement="bottom" title="Resume"><i class="fas fa-arrow-circle-left"></i></a>
	<p> &emsp;If you found this site you've either received my résumé, scanned my chip, or are a stalker... for all the non-stalkers out there...
	<br></p>
	<p> &emsp;	My name is Aaron Glidden I grew up in the small town of Prattville, Alabama where I attended Prattville
High School. I chose The University of Alabama after visiting my sister during my spring break my senior year of high school. I have
always had a passion for figuring out how things work which usually ended up with things being taken apart that usually never got put
back together. This passion led to my desire to study engineering. I started out as an electrical engineering major, but quickly shifted
to computer engineering after becoming more interested in software and how computer hardware works.

	<br></p>
	<p> &emsp;		During my time here at UA I have taken many challenging classes and become a part of several organizations
including the Honors College and Bama Climbing Club. When I'm not in class, which admittedly is a lot, I participate in a bible study with guys from Bama Catholic, or I am out exploring different hiking spots and abandoned buildings across Alabama. I also enjoy learning random
hobbies like slacklining, shooting, disc golf, and solving Rubik's Cubes.

	<br></p>
	<p> &emsp;If you've read this far, I really appreciate it and I hope you have enjoyed learning a little bit about me.
	<br></p>
</body>
</html>
