<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Aaron Glidden </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/style.css')}}"rel="stylesheet">
</head>
<body id="particle_background">
	<div id="particles-js"></div>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/particles.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/app.js')}}"></script>
	<div class="container">
		<div class="center">
			<div class="image">

			</div>
			<div class="text">
				<h1> Aaron Glidden </h1>
			</div>
		</div>
		<div class="row d-flex flex-wrap align-items-center">
	   <div class="col-md-5">
		 <img class="image img-fluid" src="{{url_for('static', filename='imgs/aaron_pic.jpg')}}">
	   </div>
	   <div class="col-md">
		 <p class="header1">Aaron Glidden</p>
		 <p class="header2">Computer Engineer</p>
	   </div>
	 </div>
	</div>
</body>
</html>
