<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Valentine </title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='imgs/heart.png')}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{url_for('static', filename='css/peyton.css')}}"rel="stylesheet">
<body>
	<div class="container">

  <div class="card">
    <div class="envelope"></div>
    <h1><br>Peyton will <em>YOU </em> be my <em>Valentine</em>?</h1>
    <div class="heart"></div>
  </div>

</div>

</body>
</html>
